@model Crowd_knowledge_contribution.Models.Article

<h2>Adăugare articol</h2>

@using (Html.BeginForm(actionName: "New", controllerName: "Articles"))
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    @Html.Label("Title", "Titlu Articol")
    <br />
    @Html.TextBox("Title", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Title, null, new { @class = "text-danger" })
    <br />
    <br />

    @Html.Label("Content", "Conținut Articol")
    <br />
    @Html.TextArea("Content", null, new { @class = "form-control" })
    @Html.ValidationMessage("Content", "", new { @class = "text-danger" })

    <br />
    <br />

    <label>Selectați domeniul</label>
    @Html.DropDownListFor(m => m.DomainId, new SelectList(Model.Dom, "Value", "Text"),
        "Selectați domeniul", new { @class = "form-control" })
    @Html.ValidationMessage("DomainId", null, new { @class = "text-danger" })

    <br />

    <button class="btn btn-sm btn-success" type="submit">Adaugă articol</button>
}